@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: local('Anton-Regular'), url(@/assets/fonts/Anton-Regular.ttf) format('truetype');
  font-family: "anton";
}

@font-face {
  src: local('Staatliches-Regular'), url(@/assets/fonts/Staatliches-Regular.ttf) format('truetype');
  font-family: "staatliches"; 
}

@font-face {
  src: local('Alata-Regular'), url(@/assets/fonts/Alata-Regular.ttf) format('truetype');
  font-family: "alata"; 
}

@font-face {
  src: local('Highway-Gothic'), url(@/assets/fonts/highway_gothic_regular.ttf) format('truetype');
  font-family: 'highway-gothic';
}

@font-face {
  src: local('Vollkorn'), url(@/assets/fonts/Vollkorn-VariableFont_wght.ttf) format('truetype');
  font-family: 'volkorn';
}

.font-volkorn {
  font-family: 'volkorn';
}

.font-highway-gothic {
  font-family: 'highway-gothic';
}

.font-alata {
  font-family: "alata";
}

.font-anton {
  font-family: "anton";
}

.font-staatliches {
  font-family: "staatliches"; 
}
