.wrapper{
  width: 100%;
  overflow: hidden;
}

.section-title {
  font-family: staarliches;
  padding: 5px 10px;
  border-bottom: 2px solid black;
  border-top: 3px double black;
  margin: 5px 0px;
  font-size: 28px;
}

.section-title svg {
  color: #e63946;
}

.section-title .section-title-content {
  padding: 0px 10px;
  letter-spacing: 2px;
}

.section-para {
  text-align: justify;
  font-size: 20px;
  font-family: ubuntu_regular;
  font-weight: 300;
  padding: 10px;
  padding-right: 450px;
  margin-bottom: 30px;
}

ul.programming-skills-list {
  margin: 10px 0px;
  font-family: jetbrains_bold;
  font-size: 22px;
}

ul.programming-skills-list li {
  display: block; 
  margin: 5px 0px;
  width: 100%;
}

ul.programming-skills-list li .progress {
  width: 400px;
  height: 20px;
  position: absolute;
  right: 0px;
  margin-top: 6px;
  margin-right: 30px;
  display: inline-block;
  background: darkgrey;
}

ul.programming-skills-list li .progress-filled {
  background: #e63946;
  height: 100%;
}

ul.technical-skills li {
  font-family: jetbrains_bold;
  list-style-type: square;
  margin: 5px 0px;
  font-size: 20px;
}

.technical-skills-container {
  padding: 20px 0px;
}

header {
  padding: 20px;
}

header h1.site-title {
  font-family: anton;
  font-size: 58px;
}

header h1.site-title span.last-name {
  color: #e63946;
}

header h4.designation {
  font-family: jetbrains_bold;
}

header ul.header-contact-ul {
  margin-left: 150px;
}

.tagline {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: staarliches;
  letter-spacing: 2px;
  color: white;
  padding: 5px;
  background: #1d3557;
}

header ul.header-contact-ul li  {
  display: block;
  margin: 5px 0px; 
  font-size: 18px;
  text-align: left;
}

header ul.header-contact-ul li svg {
  color: #1d3557;
}

header ul.header-contact-ul li  .header-contact-text {
  font-family: ubuntu_regular;
  font-weight: 400;
  padding: 0px 10px;
}

ul.header-social {
  margin: 0px;
  padding: 0px;
  font-family: sans;
}

ul.header-social span {
  padding: 0px 5px;
}

ul.header-social li {
  display: inline-block;
  padding: 0px 5px;
}

.career-company-container {
  margin: 30px 0px;
}

.career-company {
  border-left: 3px solid #e63946;
  padding-left: 15px;
}

.career-company::after {
  content: "*";
  font-size: 28px;
  margin-left: -23px;
  position: relative;
  color: #1d3557;
  top: 40px;
}

.company-period-of-service {
  font-family: ubuntu_regular;
  float: right;
}

.career-company-container .career-company-name {
  font-family: jetbrains_bold;
  font-size: 24px;
  padding: 5px 0px;
  margin: 0px;
}

.career-company-container .career-company-location {
  font-family: ubuntu_regular;
  font-weight: 100;
  font-size: 14px;
  color: #457b9d;
  margin: 0px 15px;
}

.career-company-container .career-company-designation {
  font-family: jetbrains_bold;
  font-size: 16px;
  color: #e63946;
}

.career-company-container .career-company-summary {
  font-family: ubuntu_regular;
  font-size: 17px;
}

.career-company-container .company-tech-stack-descriptor {
  font-family: jetbrains_bold;
  color: #457b9d;
  font-size: 14px;
}

.career-company-container .company-tech-stack {
  font-family: ubuntu_regular;
  font-size: 16px;
  color: #1d3557;
}

table.software-and-tools-table {
  margin: 15px 0px;
}

table.software-and-tools-table tbody tr * {
  border-right: 1px solid grey;
}

table.software-and-tools-table tbody tr td {
  padding: 10px;
  margin: 0px 5px;
  font-size: 16px;
  font-family: ubuntu_regular;
}

table.software-and-tools-table tbody tr th {
  padding: 10px;
  font-family: jetbrains_bold;
  font-weight: 800;
  font-size: 18px;
  color: #e63946;
}

table.software-and-tools-table tbody tr {
  border-bottom: 1px solid black;
}

table.software-and-tools-table thead tr {
  border-bottom: 5px double grey;
}

table.software-and-tools-table {
  width: 100%;
}

.pd-achievements-list {
  list-style: none;
  padding: 0px;
}

.pd-achievements-list li {
  padding: 5px 0px;
}

.pd-table tr td {
  padding: 5px 0px 0px 15px;
}

.notes-card {
  width: 100%;
  background: #dddddd;
  font-family: ubuntu_regular;
  padding: 10px 0px 0px 10px;
  height: 450px;
}

.qr-code {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

footer {
  background: #1d3557;
  color: #fff;
  font-family: jetbrains_bold;
  text-align: center;
  padding: 10px 0px;
  margin-top: 20px;
}

footer h4 {
  font-size: 14px;
}

.degree {
  font-family: ubuntu_regular;
  font-size: 24px;
}

.university {
  font-family: ubuntu_regular;
  font-size: 18px;
}

.university-location {
  color: #e63946;
}

.education-year-of-comp {
  font-weight: 900;
  font-family: jetbrains_bold;
}

.education-row {
  margin: 15px 0px;
}

.language-name {
  font-family: ubuntu_regular;
  font-size: 20px;
}

.language-element {
  margin: 10px 0px;
}

.language-element .proficiency-indicator {
  font-size: 26px;
  letter-spacing: 6px;
  color: #e63946;
  font-weight: 900;
  font-family: jetbrains_bold;
  line-height: 1;
}

ul.interpersonal-skills {
  margin: 20px 0px;
  margin-bottom: 50px;
}

ul.interpersonal-skills li {
  font-family: jetbrains_bold;
  list-style-type: square;
  margin: 10px 0px;
  font-size: 20px;
}

.pd-table th {
  font-family: jetbrains_bold;
  color: #e63946;
}

.pd-table .interests {
  font-family: ubuntu_regular;
  font-size: 18px;
}

.pd-table tr td, .pd-table tr th {
  padding: 10px;
}
.pd-table .dob {
  font-family: ubuntu_regular;
  font-size: 18px;
}

.pd-achievements-list li {
  font-family: ubuntu_regular;
}

.education-description {
  font-family: ubuntu_regular;
}

.blockquote {
    padding: 60px 80px 40px;
    position: relative;
}
.blockquote p {
    font-family: ubuntu_regular;
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}

.blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  
  content:"\f10d";
  font-size: 200px;
  color: rgba(0,0,0,0.1);
   
}

.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3px;
    width: 200px;
}

.otro-blockquote{
  font-size: 1.1em;
  margin:20px auto;
  font-family: ubuntu_regular;
  text-align: justify;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #e63946 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#e63946;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span.author {
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.otro-blockquote span.author_meta {
  color: #777;
}
